Package: miso
Version: 1.0-1
Architecture: all
Maintainer: Fatih ÖNDER <fatih@algyazilim.com>
Installed-Size: 69
Depends: python3-pyqt5
Section: python
Priority: optional
Homepage: https://algyazilim.com
Description: ISO MD5 | SHA-256 Doğrulayıcı Araç
